* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
	/*border: 1px solid red;*/
	font-family: 'Montserrat', sans-serif;
	font-size: 12px;
}

a {
	color: black;
}

.logo {
	font-weight: 700;
	font-size: 30px;
}

.header-section > a {
	color: #FAA61A;
}

.header-section > a:hover {
	color: black;
	background-color: #FAA61A;
}

.port-nav {
	background-color: white;
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	z-index: 1030;
	padding: .5rem 2rem;
}

.nav-items {
	float: right;
	font-family: 'Notable', sans-serif;
	padding: 0 5px;

}

.nav-item > a:hover {
	-ms-transform: skewX(-20deg);
  	-webkit-transform: skewX(-20deg);
  	transform: skewX(-20deg);
  	color: white;
  	background: black;
  	font-weight: bold;
}

.navbar-nav .nav-link {
	text-align: center;
}


span.nav-btn {
	color: black;
}

.navbar-toggler {
	border: 1px solid black;
}


.home-section {
	height: 100vh;
	background: url(../images/bg3.jpg);
 	background-size: cover;
 	background-position: center;
 	display: flex;
 	justify-content: center;
 	align-items: left;
 	flex-direction: column;
 	padding-left: 100px;
}

@media (max-width: 576px) { 
	.home-section {
		color: #eee;
	}
}

.center {
	font-size: 50px;
}

.name {
	font-weight: 700;
	font-size: 1.5em;
}

.section-separator {
	padding: 50px 0;
}

.project-item {
	padding: 20px 0;
}

.btn-visit {
	background: black;
	color: white;
	border: 1px solid black;
	padding: 12px 32px;
}

.btn-visit:hover {
	background: #cccccc;
	border: 1px solid black;
	color: black;
}

.btn-source {
	background: white;
	color: black;
	border: 1px solid black;
	padding: 12px 32px;
	margin-left: 10px;
}

.btn-source:hover {
	background: #cccccc;
	color: white;
	border: 1px solid black;
}

.section-title {
	text-align: center;
}

.section-title  h1 {
	font-weight: bold;
}

.project-name {
	text-align: center;
	font-weight: bold;
	padding: 20px 0 20px 0;
}

.separator {
	width: 40px;
	border: 2px solid black;
}

.project-image img {
	width: 100%;
	color: white;
  	box-shadow: 4px 4px 7px #cccccc;
}

.project-stack {
	font-size: 15px;
	font-weight: bold;
}

.about-content {
	text-align: center;
}

.skill-stacks {
	text-align: center;
}

.email {
	text-align: center;
	margin-bottom: 10px;
	font-weight: bold;
}

.contact-links {
	text-align: center;
}


.icn-skills i {
	font-size: 60px;
	padding: 0 10px;
}

#particles-js {
  /* width: 100%;
  height: 100%; */
  /* background-color: #b61924;
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%; */
	position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: -1;

}